<div class="col-sm-12">
	<div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" ng-model="etouch.url">
	    <label class="mdl-textfield__label" >etouches URL</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" ng-model="etouch.accountId">
	    <label class="mdl-textfield__label" >Account ID</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" ng-model="etouch.apiKey">
	    <label class="mdl-textfield__label" >API Key</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" ng-model="etouch.eventId">
	    <label class="mdl-textfield__label" >Event ID</label>
	</div>
</div>